/* Author: Ayelen Dumas */

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
}

ol,
ul {
    list-style: none;
}

article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, main {
    margin: 0;
    outline: 0;
}

/* STYLE SHEET */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(244, 244, 245, 0.972);
}

/* Menu bar */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #333334;
    padding-left: 80px;
    padding-right: 80px;
    height: 50px;
    color: white;
}
    .navigation-title {
        font-size: xx-large;
    }

    .navigation-list {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
        .navigation-item {
            display: inline;
            padding-left: 30px;
            padding-right: 30px;
        }
            .navigation-link {
                color: white;
                text-decoration: none;
            }
            .navigation-link:hover {
                color: #c0c0c0;
            }

/* Error */
.error {
}
    .error-text {
        font-weight: bold;
        color: red;
    }

/* Footer */
.footer {
    background-color: #333334;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    .footer-text {
        color: white;
    }

/* Body */
.section {
    padding-left: 220px;
}
    .section-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: x-large;
        color: #333334;
        font-weight: bold;
    }

/* Form */
.form {
}
    .form-section {
        border: none;
        padding: 10px;
    }
        .form-section-title {
            display: none;
        }

        .form-list {
        }
            .form-list-item {
            }

        .form-group {
            padding: 10px 0;
            display: flex;
            width: 400px;
            justify-content: space-between;
        }
            .form-label,
            .info-label {
                color: #333334;
                font-weight: bold;
                font-size: small;
                padding-right: 15px;
                width: 150px;
            }
            
            .form-input {
                border: 1.5px solid #333334;
                border-radius: 4px;
                width: 50%;
            }
                .form-input-textarea {
                }

                .form-input-radio {
                }

                .form-input-checkbox {
                }

            .form-link {
                color: black;
            }

        .form-button-group {
            padding: 10px 0;
        }
        .form-button-group :hover {
            color: grey;
            cursor: pointer;
        }
            .form-button {
                text-decoration: none;
                color: white;
                background-color: #333334;
                border-radius: 5px;
                width: 130px;
                height: 40px;
                font-size: large;
                border: none;
            }

            .form-button-link {
                text-decoration: none;
                color: white;
                background-color: #333334;
                border-radius: 4px;
                padding: 7px;
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 3px;
                margin-right: 4px;
                font-size: 18px;
                border-bottom: 3px solid transparent;
            }

/* Text section */
.info-section {
	border: 1px solid gray;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
}
    .info-section-title {
     	font-size: x-large;
        color: #333334;
        padding-bottom: 10px;
	}

    .info-list {
        padding: 10px;
    }
        .info-list-item {
        }

    .info-group {
        padding: 5px 10px;
        display: flex;
	}
        .info-label {
        }
        
        .info-value {
            font-size: 15px;
            font-weight: bold;
        }

/* Login */
.login-remember-me {
    color: #333334;
    font-size: small;
}