# Java files
*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar
/build/

# Eclipse files
.metadata/
.settings/
.classpath
.project

# IDEA files
.idea/
.idea

# Configuration files
META-INF/
WEB-INF/lib/
WEB-INF/web.xml
